<%- include('../partials/header.ejs') %>
<h1>Lesson <%= lesson1.lessonNo %>: <%= lesson1.lessonTitle %></h1>
<h4>Take this exam before you continue to the rest of the course in order to see what you already know about space!</h4>

<hr>

<div id="lessons">
    <% lesson1.facts.forEach(function(fact) { %>
        <div class="nondisplay-fact">
            <p><%= fact %></p>
        </div>
        <% }); %>    
    </div>
    
    <div id="quizzes" class="nondisplay-question">
        
        <% lesson1.quiz.forEach(question => { %>
            <strong><%= question.question %></strong>
            <br>
            <% question.quizAnswers.forEach(answer => { %>
                <input type="radio" id="<%= answer %>" name="<%= question.question %>" value="<%= answer %>">
                <label for="<%= answer %>"><%= answer %></label>
                <br>
            <% }) %>
            <br>
        <% }) %>
                
            </div>
            
            
            <button class="btn btn-primary" onclick="showFacts()">Next</button>
            
            <script>
                var facts = document.getElementsByClassName("nondisplay-fact");
                const factsArray = facts
                const factLength = facts.length
                let iterator = 0
                function showFacts() {
                    if (iterator < factLength) {
                        facts[iterator].style.display = "block";
                        iterator += 1;
                    } else if (iterator => factLength) {
                        hideFacts()
                    }
                    
                }
                
                function hideFacts() {
                    const factsDiv = document.getElementById('lessons')
                    for (const child of factsDiv.children) {
                        child.style.display = "none"
                    }
                    displayQuiz()
                }
                
                function displayQuiz() {
                    
                    const quizDiv = document.getElementById('quizzes')
                    quizDiv.classList.remove('nondisplay-question')
                }
                
                
                
            </script>
            
            <%- include('../partials/footer.ejs') %>
            